<div class="main-container">
  <h1>Red Boats vs. Blue Boats</h1>

  <div id="boat-counter">
    <h3>Boat count</h3>
    <h2>Red: <span id="red-count"><%= @boats[0] %></span></h2>
    <h2>Blue: <span id="blue-count"><%= @boats[1] %></span></h2>
  </div>

  <div id="voting-box">
    <%= link_to 'Red Boats', boats_path(boat: {color: 'red'}), {remote: true, method: :post, class: 'boat-button red' } %>
    <%= link_to 'Blue Boats', boats_path(boat: {color: 'blue'}), {remote: true, method: :post, class: 'boat-button blue' } %>
  </div>
  <div id="plot-container">
    <svg id="plot"></svg>
  </div>
  <h1>More Practice:</h1>
  <p>Click on this text to update the chart with new data values (once).</p>
</div>
